{% extends 'WwusArticleBundle::layout.html.twig' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/wwusarticle/css/tags.css') }}">
{% endblock %}

{% block titre %}
    <p>Suppression TAG</p>
{% endblock %}

{% block contenu %}
	<div class="tampon"></div>
	<div class="tampon"></div>
    <div class="row body_supp">
        <div class="row">Êtes-vous sûre de vouloir supprimer le tag :</div>
        <div class="row">
        	<div class="col-xs-offset-2 col-xs-8"><p>{{ form(form) }}</p></div>
        </div>
    </div>
{% endblock %}

{% block pied %}
	<div class="col-xs-4 pied-gauche"><a href="{{ path('wwus_tags_index') }}"><img class="img-pied" src="{{ asset('bundles/wwusarticle/image/pied-gauche-retour.png') }} " alt=""></a></div>
    <div class="col-xs-4"></div>
    <div class="col-xs-4 pied-droite"></div>
{% endblock %}