{% extends 'WwusExerciceBundle::layout.html.twig' %}
{% block titre %}
	<h1>Compétences</h1>
{% endblock %}
	
{% block body%}
	<div class="row tampon"></div>
	<div class="row">
		<div class="col-xs-offset-3 col-xs-6">{{ form(form) }}</div>
	</div>
	
{% endblock %}