{% extends 'WwusArticleBundle::layout.html.twig' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/wwusarticle/css/new1.css') }}">
{% endblock %}

{% block contenu %}
	<form method="post" action="{{ path('wwus_article_new')}}">
		<label for="titre">Choisissez le titre de votre article</label><input type="text" name="titre" id="titre">
	    
	    	{% for tag in tags %}
	    		<div>
	    			{{ tag.categorie }}
	    		</div>    	
	    	{% endfor %}
	</form>
{% endblock %}

{% block script %}
{% endblock %}