/***************************************************/
/* règles css pour le contenu en commun au section */
/***************************************************/
.en-tete
{
    height: 50px;
}

.contenu
{
    height: 500px;
}

.pied-de-page
{
    height: 100px;
}

.container-fluid
{
   padding-right: 0px;
   padding-left: 0px;
}
/********************************/
/* règles css pour la section 1 */
/********************************/
#section1
{  
	background-color: red;
    padding-left: 15px;
    padding-right: 15px;
}

    #image-accueil
    {
        /* le padding corrige le décalage provoqué quand un .row se trouve dans un .row */
        padding-left: 15px;
        padding-right: 15px;
    }

    .logo-accueil
    {
        height: 50px;
    }

    .section-titre
    {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

        #contenu-section1
        {
            /* le padding corrige le décalage provoqué quand un .row se trouve dans un .row */
            padding-left: 15px;
        }

            #tampon_accueil
            {
                height: 300px;
            }

            #description_accueil
            {
                height: 100px;
            }

 
/********************************/
/* règles css pour la section 2 */
/********************************/

#section2
{
	background-color: yellow;
    padding-left: 15px;
    padding-right: 15px;
}

    .hamburger
    {
        height: 2px;
        width: 7px;
    }

    #contenu-section2
    {
        /* le padding corrige le décalage provoqué quand un .row se trouve dans un .row */
        padding-left: 15px;
        padding-right: 15px;
    }

        /* la hauteur du carroussel est définit en js dans monJava.js */
        #carroussel
        {
            height: 150px;
            
        }

        #liste_article
        {
            height: 150px;
            
            
        }

    #action
    {
       
    }
/********************************/
/* règles css pour la section 3 */
/********************************/

#section3
{
	background-color: green;
    padding-left: 15px;
    padding-right: 15px;
}

/**  règles qui facilitent mon développement **/

.border
{
    border: solid 2px black;
}